/user_variables/snipe_mysql_password.txt
/user_variables/snipe_url.txt
/user_variables/google-auth.json
/user_variables/google_admin_email.txt
/sources/student.csv
/sources/admin.csv
/sources/classrooms.csv
/sites/report/exclusions.csv
/vendor
